.distribute {
	background: url('../img/distribute.jpg'),
	linear-gradient(147.47deg, #131313 19.47%, #211B1B 96.18%);

	.header__container {
		background: none;
		padding: 34px 80px;
	}

	.header__link {
		margin-top: -10px;
	}

	.header__language {
		margin-top: 10px;
	}

	.main__picture {
		bottom: -170px;
	}
}