.no-ads {
	background: url('../img/icons/no.svg'),
		url('../img/no-ads.jpg'),
		linear-gradient(147.47deg, #131313 19.47%, #211B1B 96.18%);
		background-repeat: no-repeat;
		background-position: 50% 48%;
}